iframe {
  width: 45%;
  height: 500px;
  border: 2px solid;
  margin: 5px;
}

#log {
  border: 1px solid lightgrey;
  margin: 5px;
}

.log-entry {
  margin: 3px;
}

.instruction {
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 1px;
}
