h2 {
  color: #ffb0b0;
}

iframe {
  border: 2px solid #ffb0b0;
  height: 250px;
  width: 100%;
}

#instruction {
  background-color: #ffff80;
  margin: 5px;
  padding: 5px;
}

#api-elem-area {
  color: grey;
  margin: 5px;
  padding: 10px;
}

.api-elem-area-entry {
  border: 1px dotted darkgrey;
  display: inline;
  margin: 3px;
}

#user-interaction-area {
  border: 1px solid green;
  background-color: #e0ffe0;
  color: green;
  margin: 5px;
  padding: 5px;
}

#log {
  margin: 5px;
}

.log-entry {
  margin: 3px;
}
