iframe {
  border: 2px solid blue;
  height: 250px;
  width: 90%;
}

#log {
  border: 1px solid black;
  margin: 5px;
}

.log-entry {
  margin: 3px;
}

.instruction {
  background-color: lightgrey;
  border: 1px solid grey;
  padding: 1px;
}

#api-test-area {
  border: 1px solid lightgreen;
  color: green;
  margin: 10px;
  padding: 10px;
}
