iframe {
  border: 2px solid blue;
  height: 250px;
}

#log {
  border: 1px solid lightgrey;
  margin: 5px;
}

.log-entry {
  margin: 3px;
}

.instruction {
  background-color: lightgrey;
  border: 1px solid grey;
  padding: 1px;
}

.api_target {
  border: 1px solid lightgrey;
  color: grey;
  padding: 1px;
}
